.moon_page img.moon {
  width: 200px;
  height: 200px;
  float: left;
  margin: 0 10px 10px 0;
}
.moon_page header {
  margin-bottom: 10px;
}
.moon_page header a {
  display: inline-block;
}
.moon_page section {
  clear: both;
  display: block;
}
.moon_page .moon-prev {
  float: left;
}
.moon_page .moon-prev:before {
  content: '\00ab\00a0';
}
.moon_page .moon-next {
  float: right;
}
.moon_page .moon-next:after {
  content: '\00a0\00bb';
}

.moon_phase_block {
  padding: 10px;
}
.moon_phase_block img {
  width: 100%;
}

.moon-calendar header a.moon-prev {
  font-size: 1em;
  float: left;
  margin-left: 2px;
}
.moon-calendar header a.moon-prev:before {
  content: '\00ab\00a0';
}
.moon-calendar header a.moon-next {
  font-size: 1em;
  float: right;
  margin-right: 10px;
}
.moon-calendar header a.moon-next:after {
  content: '\00a0\00bb';
}
.moon-calendar section#calendar {
  margin-top: 10px;
  clear: both;
  display: block;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 960px) {
  .moon-calendar section#calendar header {
    display: none;
}
  .moon-calendar section#calendar .moon-calendar-day {
    float: none;
    width: 100%;
    margin: 0 0 1px 0;
    background-color: #000;
    color: #fff;
    text-align: left;
    clear: both;
}
  .moon-calendar section#calendar .moon-calendar-day .day {
    display: none;
}
  .moon-calendar section#calendar .moon-calendar-day img.moon {
    width: 20%;
    float: left;
}
  .moon-calendar section#calendar .moon-calendar-day.placeholder {
    display: none;
}
  .moon-calendar section#calendar .moon-calendar-day p {
    display: block;
    vertical-align: middle;
    float: left;
}
  .moon-calendar section#calendar .moon-calendar-day p span.phase-name {
    padding-top: 20px;
    font-size: 1.1em;
    margin-bottom: 5px;
    display: block;
    word-spacing: normal;
}
  .moon-calendar section#calendar .moon-calendar-day p span.full-date {
    display: block;
    font-size: .8em;
    display: block;
} }
@media screen and (min-width: 961px) {
  .moon-calendar section#calendar header div {
    color: #000;
    float: left;
    width: 14.1%;
    max-width: 14.1%;
    min-width: 14.1%;
    display: inline-block;
    text-align: center;
    font-size: 1.1em;
}
  .moon-calendar section#calendar .moon-calendar-day {
    float: left;
    width: 14.1%;
    max-width: 14.1%;
    min-width: 14.1%;
    display: inline-block;
    margin: 0 1px 1px 0;
}
  .moon-calendar section#calendar .moon-calendar-day img.moon {
    width: 100%;
}
  .moon-calendar section#calendar .moon-calendar-day.sunday {
    clear: left;
}
  .moon-calendar section#calendar .moon-calendar-day.saturday {
    margin-right: 0;
}
  .moon-calendar section#calendar .moon-calendar-day.moon-day {
    background-color: #000;
    color: #fff;
}
  .moon-calendar section#calendar .moon-calendar-day .day {
    float: right;
    margin: 3px 5px 0 0;
    display: inline-block;
}
  .moon-calendar section#calendar .moon-calendar-day p {
    margin-bottom: 10px;
    text-align: center;
}
  .moon-calendar section#calendar .moon-calendar-day p span.phase-name {
    font-size: .7em;
}
  .moon-calendar section#calendar .moon-calendar-day p span.full-date {
    display: none;
} }
.attribution {
  font-size: .8em;
  font-style: italic;
}

#block-moonphase .moon-more-link {
  float: right;
}
#block-moonphase .moon-more-link:after {
  content: '\00a0\00bb';
}

/*# sourceMappingURL=moon_phases.css.map */
